@model backenddb_c.Models.InicioSesion

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>InicioSesion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Secuencia" class="control-label"></label>
                <input asp-for="Secuencia" class="form-control" />
                <span asp-validation-for="Secuencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroTarjeta" class="control-label"></label>
                <input asp-for="NumeroTarjeta" class="form-control" />
                <span asp-validation-for="NumeroTarjeta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoCaja" class="control-label"></label>
                <input asp-for="CodigoCaja" class="form-control" />
                <span asp-validation-for="CodigoCaja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoCliente" class="control-label"></label>
                <input asp-for="CodigoCliente" class="form-control" />
                <span asp-validation-for="CodigoCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoTitular" class="control-label"></label>
                <input asp-for="CodigoTitular" class="form-control" />
                <span asp-validation-for="CodigoTitular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaHora" class="control-label"></label>
                <input asp-for="FechaHora" class="form-control" />
                <span asp-validation-for="FechaHora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
