@model backenddb_c.Models.Bitacora

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Bitacora</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NumTransaccion" />
            <div class="form-group">
                <label asp-for="NomTabla" class="control-label"></label>
                <input asp-for="NomTabla" class="form-control" />
                <span asp-validation-for="NomTabla" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomCampo" class="control-label"></label>
                <input asp-for="NomCampo" class="form-control" />
                <span asp-validation-for="NomCampo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NuevoValor" class="control-label"></label>
                <input asp-for="NuevoValor" class="form-control" />
                <span asp-validation-for="NuevoValor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorAnterior" class="control-label"></label>
                <input asp-for="ValorAnterior" class="form-control" />
                <span asp-validation-for="ValorAnterior" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioTransaccion" class="control-label"></label>
                <input asp-for="UsuarioTransaccion" class="form-control" />
                <span asp-validation-for="UsuarioTransaccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaTransaccion" class="control-label"></label>
                <input asp-for="FechaTransaccion" class="form-control" />
                <span asp-validation-for="FechaTransaccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoTransaccion" class="control-label"></label>
                <input asp-for="TipoTransaccion" class="form-control" />
                <span asp-validation-for="TipoTransaccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LlavePrimaria" class="control-label"></label>
                <input asp-for="LlavePrimaria" class="form-control" />
                <span asp-validation-for="LlavePrimaria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

