@model backenddb_c.Models.Operacion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Operacion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreOperacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreOperacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoCajeroNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoCajeroNavigation.CodigoCajero)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CodigoOperacion">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
